{erl_opts, [debug_info,
            {src_dirs, ["client", "compat", "core", "network", "server"]},
            {fail_on_warning, false},
            {d, 'HAVE_EXPAT'}, {d, 'HAVE_LIBXML2'}, {d, 'HAVE_OPENSSL'}, {d, 'HAVE_ZLIB'}
  ]}.

{pre_hooks,[]}.

 {deps, [
     {exml, ".*", {git,
 "git+ssh://git@gitorious.process-one.net/exmpp/exml.git", {branch, "master"}}}
  ]}.

{so_specs,
 [
  {"priv/lib/exmpp_tls_openssl.so",
    ["c_src/exmpp_driver.o", "c_src/exmpp_tls.o", "c_src/exmpp_tls_openssl.o"]}

  ,{"priv/lib/exmpp_stringprep.so",
    ["c_src/exmpp_driver.o", "c_src/exmpp_stringprep.o"]}

  ,{"priv/lib/exmpp_compress_zlib.so",
    ["c_src/exmpp_driver.o", "c_src/exmpp_compress_zlib.o"]}
  ]}.

{port_envs,
 [{"CFLAGS", "$CFLAGS -I/usr/include/libxml2"},
  {"LDFLAGS", "$LDFLAGS -module  -lz -lssl "}]}.

{edoc_opts, [{def, [{vsn, "0.9.4-HEAD"}]}, {packages, false}]}.
%{cover_enabled, true}.
